.navbar-custom {
        background-color: black;
      }
      .navbar-custom .navbar-brand,
      .navbar-custom .nav-link,
      .navbar-custom .dropdown-item {
        color: hotpink;
      }
      .navbar-custom .nav-link:hover,
      .navbar-custom .dropdown-item:hover {
        color: hotpink; /* lighter shade of pink for hover */
      }

      .navbar-custom .dropdown-menu {
        background-color: black;
      }
      .navbar-custom .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }

      .navbar-custom {
        justify-content: center;
      }
      .navbar-custom .navbar-nav {
        flex-direction: row;
      }

      .navbar-custom .navbar-brand{
        color: orange;
      }

      .border-brown {
        border-color: brown !important;
      }

      .border-burlywood {
        border-color: burlywood !important;
      }

      .border-green{
        border-color: green !important;
      }

      .border-aqua{
        border-color: aqua !important;
      }

      .custom-position {
        display: flex;
        align-items: center; /* Centers vertically */
        justify-content: flex-start; /* Aligns items to the start */
        height: 100vh; /* Full viewport height */
        padding-left: 150px; /* Custom left padding */
        
    }
    
#stcr {
  position: relative;
  top: -450px;
  left: -330px;
  color:white;
  font-weight: bolder;
}

.lead {
  font-size: 1rem;
  }

.text-normal {
    font-weight: normal;
  }

.text-info {
    color: #17a2b8;
  }

.step-container,
.step-container-dark,
.step-container-green,
.step-container-black {
  padding: 1rem;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step-container {
  background-color: pink;
}

.step-container-dark {
  background-color: rgb(227, 183, 183);
  color: #f8f9fa; /* light text */
}

.step-container-green {
  background-color: green;
  color: #f8f9fa; /* light text */
}

.step-container-black {
  background-color: black;
  color: pink;
}

.container-custom {
  background-color: rgb(41, 41, 210);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.icon-text p {
   margin-left: 1rem;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-btn {
    animation: blink 1s infinite;
}

.blinking-btn:hover {
  animation-play-state: paused; /* Pause the animation on hover */
}

.wide-button {
  width: 300px; /* Adjust the width as needed */
}

.height-button {
  height: 70px; /* Adjust the width as needed */
}

.logo{
  color:orange;
}

#break{
  margin-bottom: -0.1%;
  background-color: hsl(180, 100%, 85%);
  color: hsl(180, 100%, 85%);
}

.footer {
  margin-left: -10%;
  margin-right: -8.8%;
}

#body{
  overflow-x: hidden;
}

.card-img-top-custom{
  margin-right: -1%;
}

.mt-custom {
  margin-top: 600px; /* Adjust the value as necessary */
}

.btn-right{
  float: right;
  right: 200%;
}